.header {
    background-color: #003580;
    background-image:url("../../images/bg1.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; /*Set Parent to relative before setting child "headerSearch" to absolute*/
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px auto 100px auto;
    /* border: 1px solid red; */
}

.headerContainer.listMode {
    margin: 20px auto 0px auto;
}

.headerList {
    display: flex;
    gap: 40px;/*  new learn */
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerDesc {
    margin: 20px 0px;
}

.headerBtn {
    background-color: #0071c2;
    color: white;
    border: none;
    font-weight: 500;
    padding: 15px;
    cursor: pointer;
    border-radius: 20px;
}

.headerSearch {
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    /* position: sticky; */
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.headerIcon {
    color: lightgray;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput {
    border: none;
    outline: none;
}

.headerSearchText {
    color: lightgray;
    cursor: pointer;
}

.date {
    position: absolute;
    margin-left: -55px;
    top: 50px;
    z-index: 2;
}

.date.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.5s ease;
}

.date.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.5s ease;
}

.options {
    position: absolute;
    top: 50px;
    color: gray;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);
    z-index: 2;
}

.options.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.5s ease;
}

.options.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.5s ease;
}

.options:hover {
    filter: brightness(1.2)
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font: 12px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}



@media screen and (max-width:  480px) {

    .header {
        /* height: 500px; */
        /* margin-top: 100px; */
        margin-bottom: 100px;
    }
    .headerList {
        visibility: hidden;
    }

    .headerTitle {
        padding: 15px;
        text-align: center;
    }

    .headerDesc {
        padding: 15px;
        text-align: center;
    }

    .headerBtn {
        /* visibility: hidden; */
        width: 300px;
    }

    .headerSearch {
        display: flex;
        flex-direction: column;
        height: 250px;
        justify-content: center;
        padding: 50px 0px 0px 0px;
        border-radius: 5px;
        position: relative;
        /* position: sticky; */
        bottom: -0px;
        width: 95%;
        max-width: 95%;
        margin: 0px auto 0px auto;
    }

    .headerSearchItem {
        margin-top: 30px;
        /* border: 1px solid red; */
        width: 300px;
    }

    .date {
        margin: 120px 0px 0px -25px;
        top: 50px;
        z-index: 2;
    }

    .options {
        position: absolute;
        top: 0px;
        margin: 220px 0px 0px 20px;

    }


}