.footer {
    width: 100%;
    max-width: 1024px;
    font-size: 12px;
    margin-top: 40px;
}

.fLists {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
    /* align-items: center;
    justify-content: center; */
}

.fList {
    list-style: none;
    padding: 0px;
    text-align: left;
}

.fList > .fHeaderText {
    font-size: 15px;
}

.fLogo {
    height: 100px;
    margin: -50px 0px 10px -20px;

}

.fList span {
    font-weight: bold;
    font-size: 13px;
}

.fListItem {
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
    font-size: 15px;
}

.fText {
    text-align: center;
    margin-bottom: 30px;
}


@media screen and (max-width: 480px) {
    .footer {
        width: 95%;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .fList > .fHeaderText {
        font-size: 15px;
    }
    .fLists {
        display: flex;
        flex-direction: column;
    }

    .fList > .fListItem {
        align-items: center;
        text-align: left;
        font-size: 15px;
    }

    .fList {
        margin-bottom: 30px;
        text-align: left;
    }

    .fText {
        display: flex;
        text-align: center;
    }
}